@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    font-family: 'Roboto Flex', sans-serif;
    scroll-behavior:smooth;
}
/* navbar start  */
.navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
}
.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars{
    color: #FEA116;
}
.add-color {
    color: #FEA116;
}
.navbar-bg{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.13);
}
.navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
/* navbar end  */

/* links  start*/
.hero-txt>a {
    text-decoration: none;
    color: #fff;
    border: solid 1px #fff;
}
.hero-txt>a:hover{
    background-color:rgba(0, 0, 0, 0.5) ;
}
.view-btn>a,.add >a{
    text-decoration: none;
    color:#FEA116;
}
.add >a{
    border: 1px solid #FEA116;
    background: #FEA116;
    border-radius: 10px;
}
/* links end */
.hero-section{
    background: url('../assets/rice2.jpg');
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section>div{
    background: transparent;
}
.about-box{
    box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
}
.food-name{
    color:#FEA116;
    font-family: 'Dancing Script', cursive;
}
.img-svg{
    width: 3rem;
}
.reserve-img{
    background: url('../assets/slide/lunch-4.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-two, .grid-three{
    background: url('../assets/sun-tornado.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message-btn{
    background: #db6930;
}
.footer-links>a {
    color:#F2DF3A
}
.footer-links>a:hover{
    color: rgba(0, 0, 0, 0.5) ;
}
/* fade in effect  */
.hero-section {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* fade in effect  */